@{
    Layout = "~/Views/Shared/_layoutModelo.cshtml";


}
<strong>Meus vídeos</strong>
<div style="animation">
    Recomendados
    <ul class="nav navbar-nav">
        <li>
            <object data="http://www.youtube.com/embed/EqwXr1MTrh0"
                    width="300" height="215"></object>
        </li>
        <li>
            <object data="http://www.youtube.com/embed/9IF0Kl2-pFU"
                    width="300" height="215"></object>
        </li>
        <li>
            <object data="http://www.youtube.com/embed/ZOaR7OA2pS4"
                    width="300" height="215"></object>
        </li>
    </ul>

</div>
