@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Definir nome hehe</h1>
    <p class="lead">Um site para compartilhar conhecimentos por meio de vídeos, e ainda receber por isso :)</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leia mais&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo</h2>
        <p>
            Envie vídeos para ganhar créditos, assim você poderá assistir diversas vídeo aulas, comece já :)
        </p>
        <input type="button" class="btn btn-info" value="Cadastre-se" onclick="location.href='@Url.Action("Cadastro", "Cadastro")'" />
    </div>
    <div class="col-md-4">
        <h2>Já é cadastrado?</h2>
        <p>Entre com sua conta e comece a aprender</p>
        <input type="button" class="btn btn-info" value="Entrar" onclick="location.href='@Url.Action("Login", "Login")'" />
    </div>
</div>